name: Build Kiosk Images

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: xibo-players/.github/.github/workflows/build-iso.yml@main
    with:
      package-name: xibo-kiosk
      kickstart-file: 'kickstart/xibo-kiosk.ks'
      build-installer: true
      build-disk-images: true
      architectures: 'x86_64,aarch64'
      default-version: '0.2.0'
    secrets: inherit
